.footer {
  max-width: 318px;
  width: 100%;
  background-color: #000;
}

@media screen and (max-width: 910px) {
  .footer {
    max-width: 282px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0;
  }
}