.header {
  max-width: 882px;
  height: 73px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-align: flex-start;
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba( 84, 84, 84, .7);
  background-color: #000;
}

@media screen and (max-width: 898px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    width: 100%;
    height: 55px;
  }
}